<!DOCTYPE html>
<html lang="ja">
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <form action="/login" method="POST" class="login-form">
            学籍番号
            <input type="text" name="id">
            <br>
            パスワード
            <input type="password" name="password">
            <br>
            <input type="submit">
        </form>
    </body>
</html>